<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Danh sách sản phẩm </h2>
                        <p class="pageheader-text"> </p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Trang chủ</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Danh sách sản phẩm</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                    <div class="row">
                        {{#each productData}}
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="product-thumbnail">
                                <div class="product-img-head">
                                    <div class="product-img">
                                        <img src={{this.HinhAnh}} alt="" class="img-fluid"></div>
                                    <div class="ribbons"></div>
                                    <div class="ribbons-text">Mới</div>
                                    <div class=""><a href="#" class="product-wishlist-btn"><i class="fas fa-plus-circle"></i></a></div>
                                </div>
                                <div class="product-content">
                                    <div class="product-content-head">
                                        <h3 class="product-title">{{this.TenSP}}</h3>
                                        <div class="product-rating d-inline-block">
                                            <i class="fa fa-fw fa-star"></i>
                                            <i class="fa fa-fw fa-star"></i>
                                            <i class="fa fa-fw fa-star"></i>
                                            <i class="fa fa-fw fa-star"></i>
                                            <i class="fa fa-fw fa-star"></i>
                                        </div>
                                        <div class="product-price">{{this.GiaBan}} VNĐ</div>
                                    </div>
                                    <div class="product-btn">
                                        <a href="#" class="btn btn-primary">Thêm vào giỏ</a>
                                        <a href="/product/detail/{{this.MaSP}}" class="btn btn-outline-light">Chi tiết</a>
                                        <a href="/product/edit/{{this.MaSP}}" class="btn btn-outline-light" title="Sửa" data-toggle="tooltip"><i class="fas fa-edit"></i></a>
                                        <a href="/product/delete/{{this.MaSP}}" class="btn btn-outline-light" title="Xóa" data-toggle="tooltip"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="product-sidebar">
                        <div class="product-sidebar-widget">
                            <h4 class="mb-0">Lọc</h4>
                        </div>
                        <div class="product-sidebar-widget">
                            <h4 class="product-sidebar-widget-title">Thể loại</h4>
                            {{#each categoryData}}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cat-1">
                                <label class="custom-control-label" for="cat-1">{{this.TenLoaiSP}}</label>
                            </div>
                            {{/each}}
                        </div>
                        <div class="product-sidebar-widget">
                            <h4 class="product-sidebar-widget-title">Kích thước</h4>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="size-1">
                                <label class="custom-control-label" for="size-1">Nhỏ</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="size-2">
                                <label class="custom-control-label" for="size-2">Trung bình</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="size-3">
                                <label class="custom-control-label" for="size-3">Lón</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="size-4">
                                <label class="custom-control-label" for="size-4">Cực lớn</label>
                            </div>
                        </div>
                        <div class="product-sidebar-widget">
                            <h4 class="product-sidebar-widget-title">Chi nhánh</h4>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="brand-1">
                                <label class="custom-control-label" for="brand-1">Tên chi nhánh #1</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="brand-2">
                                <label class="custom-control-label" for="brand-2">Tên chi nhánh #2</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="brand-3">
                                <label class="custom-control-label" for="brand-3">Tên chi nhánh #3</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="brand-4">
                                <label class="custom-control-label" for="brand-4">Tên chi nhánh #4</label>
                            </div>
                        </div>
                        <div class="product-sidebar-widget">
                            <h4 class="product-sidebar-widget-title">Màu sắc</h4>
                            <div class="custom-control custom-radio custom-color-blue ">
                                <input type="radio" id="color-1" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="color-1">Xanh</label>
                            </div>
                            <div class="custom-control custom-radio custom-color-red ">
                                <input type="radio" id="color-2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="color-2">Đỏ</label>
                            </div>
                            <div class="custom-control custom-radio custom-color-yellow ">
                                <input type="radio" id="color-3" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="color-3">Vàng</label>
                            </div>
                            <div class="custom-control custom-radio custom-color-black ">
                                <input type="radio" id="color-4" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="color-4">Đen</label>
                            </div>
                        </div>
                        <div class="product-sidebar-widget">
                            <h4 class="product-sidebar-widget-title">Giá</h4>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="price-1">
                                <label class="custom-control-label" for="price-1">100,000 đ</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="price-2">
                                <label class="custom-control-label" for="price-2">150,000 đ</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="price-3">
                                <label class="custom-control-label" for="price-3">200,000 đ</label>
                            </div>
                        </div>
                        <div class="product-sidebar-widget">
                            <a href="#" class="btn btn-outline-light">Làm sạch bộ lọc</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="javascript: void(0);">About</a>
                            <a href="javascript: void(0);">Support</a>
                            <a href="javascript: void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->